/* Default */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

/* Flex-Box */
.all-container {
  display: grid;
  place-items: center;
  text-align: center;
}

/*Title Heading */
.fare {
  color: tomato;
}

.calculator {
  color: #00CED1;
}

/* LOGO */
#logo:hover {
  animation: shake 0.5s;
}

/*Logo Animation */
@keyframes shake {
  0% {transform: translate(1px, 1px) rotate(0deg);}
  10% {transform: translate(-1px, -2px) rotate(-1deg);}
  20% {transform: translate(-3px, 0px) rotate(1deg);}
  30% {transform: translate(3px, 2px) rotate(0deg);}
  40% {transform: translate(1px, -1px) rotate(1deg);}
  50% {transform: translate(-1px, 2px) rotate(-1deg);}
  60% {transform: translate(-3px, 1px) rotate(0deg);}
  70% {transform: translate(3px, 1px) rotate(-1deg);}
  80% {transform: translate(-1px, -1px) rotate(1deg);}
  90% {transform: translate(1px, 2px) rotate(0deg);}
  100% {transform: translate(1px, -2px) rotate(-1deg);}
}

/* CSS Style */

.second-container {
  padding-top: 1em;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.asking {
  font-size: 24px;
  font-weight: 500;
  padding: 1em;
}

/* Google Map Style */
#map {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

.input-container {
  font-weight: 500;
}

/* Input Style */

input[type="radio"] {
  margin-left: 1.5em;
  margin-right: .3em;
}

input[type="number"] {
  height: 1.8em;
  width: 10em;
  border-radius: 5px;
  border: 1px solid;
}

/*Placeholder style */
::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

/* Button Style */
#btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color : white;
  background-color: #00CED1;
  border: none;
  padding: .2em 3em;
  border-radius: 5px;
  margin-left: 10px;
}

#btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.answer-container {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
  font-weight: 500;
}

/*Media Query */
@media (min-width: 750px) {
  .title {
    float: right;
    margin-top: 150px;
    font-size: 36px;
    padding: 1em;
  }

  #logo {
    width: 200px;
    margin-top: 100px;
  }
}

@media (max-width: 749px) {
  .title {
    float: none;
    font-size: 30px;
    padding: .5em;
  }

  #logo {
    width: 160px;
    margin-top: 20px;
  }
}

@media (max-width: 950px) {
    .second-container {
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
  #distance {
    display: inline-block;
    width: 250px;
    text-align: center;
  }

  #btn {
    display: inline-block;
    width: 250px;
    margin-top: 1em;
    padding: .4em;
  }

  input[type="radio"] {
    margin-left: .5em;
    margin-right: .2em;
  }

  input[type="number"] {
    height: 2.4em;
  }
}
